<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>{{ontology_title}}</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/js/dist/themes/default/style.min.css"/>
        <script type="text/javascript" src="/static/js/jquery-1.11.2.js"></script>
        <script type="text/javascript" src="/static/js/dist/jstree.js"></script>
        <script>$SCRIPT_ROOT= {{ request.script_root|tojson }};</script>
	</head>
	<body>
        <h1>header</h1>
		<div class="main-menu"></div>
		<hr>
		{% block content %}{% endblock %}
	</body>
</html>
